body{
 background-color: aqua;
}
h1{
    text-align: center;
    color: rgb(236, 10, 168);
    margin-top: 40px;
    text-shadow: 1px 1px rgb(255, 255, 255);
}
form{
    background-color: aliceblue;
	padding: 10px 20px 20px;
	box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
    margin-left: 340px;
    margin-bottom: 70px;
    margin-right: 340px;
    
}
legend{
    margin-top: 5px;
}
button {
    background-color: #8de799;
    display: block;
    width: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 50%;
    margin-right: 50%;
}
p{
    text-align: center;
    font-size: 50px;
}